body{
display: flex;
padding: 24px 216px;
justify-content: center;
align-items: center;
gap: 387px;
align-self: stretch;
border-bottom: 1px solid rgba(255, 255, 255, 0.00);
background: rgba(42, 93, 50, 0.20);
backdrop-filter: blur(20px);
}
